#!/bin/sh

# eza, better ls
alias ls='eza'
alias ll='eza --icons --group-directories-first --color always -lahog'

alias load_zshrc='source ~/.zshrc'

# short alias
alias lzg='lazygit'
alias lzd='lazydocker'

#######
# vim #
#######

alias vim='nvim'
alias vi='nvim'
