#!/bin/sh

# eza, better ls
alias ls='eza'
alias ll='eza --icons --group-directories-first --color always -lahog'

alias load_zshrc='source ~/.zshrc'

# zoxide, better cd
alias cd='z'

alias lzg='lazygit'
alias lzd='lazydocker'

#######
# vim #
#######

alias vim='nvim'
alias vi='nvim'

##########################
# Update/install scripts #
##########################

# starship - shell prompt
alias update_starship='curl -sS https://starship.rs/install.sh | sh'
alias update_kitty='curl -L https://sw.kovidgoyal.net/kitty/installer.sh | sh /dev/stdin'
