.DS_Store
.zcomet
*.zcompdump*
.zcompcache
.histfile
.shenv
Library/Application Support/lazygit/state.yml
.config/karabiner/automatic_backups/*
.config/karabiner/assets/*
*.sb
*.log

.claude/skills/*
.claude/commands/*
.agents/skills/*
.codex-personal/commands/*

.worktrees/
