[include]
	path = ~/.config/delta.gitconfig

[alias]
    tidy = "!git fetch --prune && for branch in $(git branch -vv | awk '/: gone]/{print $1}'); do git branch -D $branch; done"

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[merge]
    conflictStyle = zdiff3
