@define-color bg rgba(30, 30, 46, 0.5);
@define-color white #f8f8f8;
@define-color grey-off rgba(217, 216, 216, 0.5);

@define-color warning #ffd204;
@define-color critical #ee2e24;

@define-color workspace-hover #9aedfe;
@define-color workspace-focus #feca9a;
@define-color workspace-urgent #21a4df;

@define-color scratchpad #d4d3cf;
@define-color bluetooth #00b0f6;
@define-color zypper #4bb67a;
@define-color cpu #00bbff;
@define-color memory #4eed39;

@define-color battery-charging #06d001;
@define-color notification #bd8ee6;

* {
  border: none;
  border-radius: 0;
  font-family: "Source Sans Pro", "FontAwesome 6 Free";
  font-size: 15px;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}

window#waybar {
  color: @white;
  background-color: @bg;
}

window#waybar.solo {
  color: @white;
}

#workspaces {
  font-family: "CaskaydiaCove NF";
  margin-right: 5px;
  /* background: rgba(40, 42, 54, 0.85); */
  /* border-radius: 0 4px 4px 0; */
}

#workspaces button {
  padding: 0 8px;
  color: @grey-off;
}

#workspaces button.visible {
  color: @grey-off;
}

#workspaces button:hover {
  border-bottom: 2px solid @workspace-hover;
  background: transparent;
  color: @workspace-hover;
}

#workspaces button.focused {
  border-bottom: 2px solid @workspace-focus;
  color: @workspace-focus;
}

#workspaces button.urgent {
  border-bottom: 2px solid @workspace-urgent;
  color: @workspace-urgent;
}

#custom-scratchpad {
  margin-left: 5px;
  padding: 0px 4px;
  border-bottom: 2px solid @scratchpad;
  color: @scratchpad;
}

#mode {
  border-bottom: 1px solid @white;
}

#window,
#tray,
#network,
#bluetooth,
#custom-zypper,
#cpu,
#memory,
#backlight,
#battery,
#pulseaudio,
#clock,
#custom-notification,
#disk,
#idle_inhibitor,
#temperature {
  margin: 0px 6px 0px 10px;
  min-width: 15px;
}

#bluetooth.disabled {
  color: @grey-off;
}

#bluetooth.off {
  color: @grey-off;
}

#bluetooth.on {
  color: @bluetooth;
  border-bottom: 2px solid @bluetooth;
}

#bluetooth.connected {
  color: @bluetooth;
  padding: 4px;
  border-bottom: 2px solid @bluetooth;
}

#custom-zypper {
  color: @zypper;
  padding: 0px 4px;
  border-bottom: 2px solid @zypper;
}

#cpu {
  color: @cpu;
  border-bottom: 2px solid @cpu;
}

#memory {
  color: @memory;
  border-bottom: 2px solid @memory;
  padding-right: 9px;
}

#battery {
  border-bottom: 2px solid @white;
}

#battery.charging {
  color: @battery-charging;
  border-bottom: 2px solid @battery-charging;
}

#battery.warning,
#memory.warning,
#cpu.warning {
  color: @warning;
  border-bottom: 2px solid @warning;
}

#battery.critical,
#memory.critical,
#cpu.critical {
  color: @critical;
  border-bottom: 2px solid @critical;
}

#custom-notification {
  color: @notification;
  border-bottom: 2px solid @notification;
  padding-left: 4px;
}
