@define-color background  rgba(30, 30, 46, 0.95);
@define-color text #cdd6f4;
@define-color input #f38ba8;
@define-color entry #b4befe;
@define-color entry-text #cba6f7;

* {
  font-family: UbuntuMono;
}

window {
  margin: 0px;
  padding: 10px;
  background-color: @background;
  border: none;
  border-radius: 4px;
}

#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
}

#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
}

#input {
  margin: 5px 15px;
  border: none;
  border-radius: 5px;
  color: @text;
  background-color: #2d3250;
}

#input image {
  border: none;
  color: @input;
}

#input * {
  outline: 4px solid @input!important;
}

#text {
  margin: 5px;
  border: none;
  color: @text;
}

#entry {
  background-color: transparent;
}

#entry arrow {
  border: none;
  margin-right: 5px;
  color: @entry;
}

#entry:selected {
  border: 0.11em solid @entry;
  border-radius: 4px;
}

#entry:selected #text {
  color: @entry-text;
}

/* #entry:drop(active) { */
/*   background-color: @highlight!important; */
/* } */
