/* @define-color background  rgba(30, 30, 46, 0.9); */
@define-color bg rgba(46, 46, 60, 0.95);
@define-color text #f8f8f8;
@define-color entry-bg #313244;
@define-color entry-border #646874;

* {
  font-family: UbuntuMono;
}

window {
  margin: 0px;
  padding: 10px;
  background-color: @bg;
  border: none;
  border-radius: 8px;
}

#scroll {
  border: none;
  margin: 5px;
  padding: 10px;
}

#inner-box {
  border: none;
}

#outer-box {
  margin: 5px;
  padding: 10px 0px;
  border: none;
}

#input {
  margin: 5px 15px;
  border: none;
  border-radius: 8px;
  color: @text;
  /* background-color: #2d3250; */
  background-color: #47475e;
}

#input image {
  padding-left: 1.8px;
  border: none;
  color: @texx;
}

/* #input * { */
/*   outline: 4px solid @input!important; */
/* } */

#text {
  margin: 5px;
  border: none;
  color: @text;
}

#entry {
  padding-left: 8px;
}

#entry arrow {
  border: none;
  margin-right: 5px;
  color: @text;
}

#entry:selected {
  background-color: @entry-bg;
  border-radius: 8px;
  border: 2px solid @entry-border;
  outline: none;
}

#entry:selected #text {
  font-weight: bold;
}

/* #entry:drop(active) { */
/*   background-color: @highlight!important; */
/* } */
